<h1>Add new Location</h1>
<%= nested_form_for([:admin, @location]) do |f| %>
  <div class="form-group">
    <%= f.text_field(:street_address, placeholder: 'street_address') %>
  </div>

  <div class="form-group">
    <%= f.text_field(:street_address2, placeholder: 'street_address2') %>
  </div>

  <div class="form-group">
    <%= f.text_field(:city, placeholder: 'city') %>
  </div>

  <div class="form-group">
    <%= f.text_field(:state, placeholder: 'state') %>
  </div>

  <div class="form-group">
    <%= f.text_field(:zip, placeholder: 'Zip') %>
  </div>

  <p><%= f.link_to_add('Add Employee', :employees)%></p>
  <%= f.fields_for(:employees) do |employee_form| %>
    <div class="form-group">
      <%= employee_form.text_field(:name, placeholder: 'Employee Name') %>
    </div>
    <div class="form-group">
      <%= employee_form.text_field(:badge_number, placeholder: 'Badge Number') %>
    </div>
    <p><%= employee_form.link_to_remove('Fire employee') %></p>
  <% end %>

  <div class="form-group">
    <%= f.submit %>
  </div>

<% end %>
